body {
    font-weight: 400;
    line-height: 160%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272c34;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.area {
    margin-top: 20%;
    width: 100%;
    max-width: 30%;
    text-align: center;
    padding: 1em;
    background-color: #fff;
    border-radius: 5%;
    height: 150px;
}

.pressed {
    color: hsl(112, 100%, 39%);
    text-shadow: 1px 1px hsl(112, 76%, 29%), 2px 2px hsl(112, 76%, 29%), 3px 3px hsl(112, 76%, 29%), 4px 4px hsl(112, 76%, 29%);
}

.reset-button {
    border-radius: 10px;
    width: 70%;
    height: 40%;
    color: white;
    background-color: #3ead07;
    border-color: transparent;
    font-size: large;
    font-weight: bold;
}

.reset-button:hover {
    background-color: #72a359;
}

.rounded-full {
    border-radius: 9999px!important;
}

.w-3 {
    width: 0.75rem!important;
}

.h-3 {
    height: 0.75rem!important;
}
.inline-block {
    display: inline-block!important;
}
span {
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
}

.buttons {
    margin-right: 90%;
}